@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: cursive;
    height: 90vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    background-image: linear-gradient(to right, rgb(79, 3, 123), white);
}


div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div > a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px black;

}

div> a:hover{
    text-decoration: underline;
}

div > a:active{
    background-color: black;
    transition: 0.5s;
}