@charset "UTF-8";

@media screen and (min-width: 768px ) {
    iframe{
        width: 400px;
    }

}

@media screen and (max-height: 680px) {
    iframe{
    display: none;
    }

img{
    display: none;
}

}