@charset "UTF-8";

@media screen and (min-width: 768px ) {
    iframe{
        width: 400px;
    }

}

@media screen and (orientation: landscape) {
    iframe{
    display: none;
    }
}

img{
    display: none;
}